
<app-nav></app-nav>

 <section id="contact" class="contact">
    <div class="container">
        <h2 class="heading">Contact</h2>
        <div class="contact-container">
            <div class="card">
                <div class="card-inner">
                  <div class="card-front">
                    <img src="https://cdn-icons-png.flaticon.com/128/15047/15047587.png" alt="Email Icon" height="100px" width="100px">
                  </div>
                  
                  <div class="card-back">
                    <a href="mailto:jmono797@gmail.com">jmono797&#64;gmail.com</a>
                  </div>
                </div>
              </div>
              

            <div class="card">
                <div class="card-inner">           
                  <div class="card-front">
                    <img src="https://cdn-icons-png.flaticon.com/128/536/536452.png" alt="Email Icon" height="100px" width="100px">
                  </div>
                  <div class="card-back">
                    <a href="https://github.com/MonoK5" target="_blank">https://github.com/MonoK5</a>
                  </div>
                </div>
              </div>
            
    

            <div class="card">
                <div class="card-inner">
                  <div class="card-front">
                    <img src="https://cdn-icons-png.flaticon.com/128/1383/1383269.png" alt="Email Icon" height="100px" width="100px">
                  </div>
                  <div class="card-back">
                    <a href="tel:0788692921">0788692921</a>
                  </div>
                </div>
              </div>



            <div class="card">
                <div class="card-inner">
                  <div class="card-front">
                    <img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" alt="Email Icon" height="100px" width="100px">
                  </div>
                  <div class="card-back">
                    <a href="https://www.linkedin.com/in/khosatho" target="_blank">  https://www.linkedin.com/in/khosatho-mono-0536b530b/</a>
                  </div>
                </div>
              </div>
            
              <div class="card">
                <div class="card-inner">
                  <div class="card-front">
                    <img src="https://cdn-icons-png.flaticon.com/128/2504/2504942.png" alt="Email Icon" height="100px" width="100px">
                  </div>
                  <div class="card-back">
                    <a href="https://www.tiktok.com/@mono.kay?_t=ZM-8uyGJQZOoAJ&_r=1" target="_blank">https://www.tiktok.com/&#64;mono.kay?_t=ZM-8uyGJQZOoAJ&_r=1</a>
                  </div>
                </div>
              </div>
            
              <div class="card">
                <div class="card-inner">
                  <div class="card-front">
                    <img src="https://cdn-icons-png.flaticon.com/128/2504/2504903.png" alt="Email Icon" height="100px" width="100px">
                  </div>
                  <div class="card-back">
                    <a href="https://www.facebook.com/share/18iRCJWyXn/" target="_blank"> https://www.facebook.com/share/18iRCJWyXn/</a>
                  </div>
                </div>
              </div>
            

        </div>
        
    </div>
</section>


<app-footer></app-footer>
