
<app-nav></app-nav>

 <section id="contact" class="contact">
    <div class="container">
        <h2>Contact</h2>
        <p>If you would like to work together or chat, feel free to get in touch!</p>
        <p>Email: <a href="mailto:khosatho@example.com">jmono797&#64;gmail.com</a></p>
        <p>GitHub: <a href="https://github.com/MonoK5">https://github.com/MonoK5</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/khosatho" target="_blank">https://www.linkedin.com/in/khosatho-mono-0536b530b/</a></p>
    </div>
</section>

