

  
.about-section {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
  }
  
  .about-content {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
  }
  

  .about-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ffffff;
  }
  

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  

  .card {
    background-color: #ffffff;
    border: 2px solid  #006600;
    border-radius: 10px;
    width: 580px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  
  .card-header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
  }
  
  .card-body {
    padding: 20px;
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
  }
  
  .card-body ul {
    list-style: none;
    padding: 0;
  }
  
  .card-body ul li {
    margin: 10px 0;
  }
  
  .card-body ul li strong {
    color: #000000;
  }
  
  /* Hover Effects */
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Media Query for Responsiveness */
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
    
    .card {
      width: 50%;
    }
  }
  