<section id="about" class="about-section">
    <div class="about-content">
      <h2>About Me</h2>
      <p>Hi I'm Khosatho Mono, a passionate Full Stack Developer with experience in both front-end and back-end technologies. I specialise in building scalable, efficient, and innovative web applications that deliver high-quality user experiences. With a strong foundation in modern development frameworks and tools, I love crafting clean and maintainable code that scales seamlessly.</p>
  
      <h3>What I Do:</h3>
      <ul>
        <li><strong>Front-End Development:</strong> I create dynamic and responsive user interfaces using cutting-edge technologies such as HTML, CSS, JavaScript and Angular.</li>
        <li><strong>Back-End Development:</strong> I build robust back-end systems using Node.js, Express, along with RESTful APIs.</li>
        <li><strong>Databases:</strong> Experience with PostgreSQL, and MySQL, focusing on efficient database schema design and fast queries.</li>
        <li><strong>Version Control:</strong> Proficient with Git and GitHub for managing code and collaborating with teams.</li>
      </ul>
  
      <h3>My Philosophy:</h3>
      <p>I believe in agile development and continuous learning, staying updated with industry trends and best practices. Collaboration is key, and I love working with cross-functional teams to deliver high-quality projects. I take pride in writing clean, maintainable code that is easily scalable.</p>
  
      <h3>Let's Build Something Amazing Together!</h3>
      <p>Whether you're building a new product or improving an existing one, let's work together to turn your ideas into reality. Feel free to reach out for inquiries or collaboration opportunities!</p>
    </div>
  </section>
  
