
<app-nav></app-nav>


<section id="pro" class="pro">
<div class="wave-container">
    <h1 class="wave-text">
        <span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span><span>S</span>
    </h1>
</div>
<div class="container">
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Prosthetic-Q</h2>
      <p>
        Prosthetic-Q is an innovative e-commerce app that allows users to customise and personalise their prosthetic limbs, blending functionality and style to boost confidence and improve quality of life.



      </p>
      <a href="https://github.com/The-DigitalAcademy/cart_easy" target="_blank">Read More</a>

    </div>
  </div>
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Pay-Now</h2>
      <p>Paynow is a modern banking app that ensures secure transactions, real-time payment tracking, instant transfers, and personalised insights, offering a fast and efficient banking experience with e-commerce integration.




      </p>
      <a href="https://github.com/The-DigitalAcademy/paynowBank" target="_blank">Read More</a>

    </div>
  </div>
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Gym-App</h2>
      <p>
        ActiveLife is a gym app that offers personalised workouts, tracks progress, and uses AI to adjust plans. With video demos and wearable integration, it optimises your fitness journey and keeps you motivated.
      </p>
      <a href="https://github.com/The-DigitalAcademy/Group-B_Gym" target="_blank">Read More</a>

    </div>
  </div>
</div>
<div class="container">
    <div class="box">
      <span></span>

      <div class="content">
        <h2>Transportation <br>
            (Team B)</h2>
        <p>Ride Easy is a transportation app where users book rides by entering details like name, email, pickup location, and price, with options to clear or add requests.</p>
        <a href="https://github.com/MonoK5/Team-B-Sprint/tree/mono" target="_blank">Read More</a>
      </div>
    </div>

    <div class="box">
      <span></span>
      <div class="content">
        <h2>Weather</h2>
        <p>Weather Now is a fast, accurate weather app providing real-time forecasts, radar, alerts, and personalised notifications to keep you informed and prepared for daily or severe weather conditions.</p>
        <a href="https://github.com/MonoK5/Portfolio-5" target="_blank">Read More</a>
 </div>
    </div>


    <div class="box">
      <span></span>
      <div class="content">
        <h2>School-App</h2>
        <p>Shaper High School is a user-friendly website that provides easy access to schedules, grades, assignments, and real-time notifications, helping students, teachers, and parents collaborate efficiently.</p>
        <a href="https://github.com/The-DigitalAcademy/School_app" target="_blank">Read More</a>

      </div>
    </div>
  </div>
  </section>
  <app-footer></app-footer>
    
  
