
<app-nav></app-nav>

<div class="wave-container">
    <h1 class="wave-text">
        <span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span><span>S</span>
    </h1>
</div>
<div class="container">
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Prosthetic-Q</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="#">Read More</a>
    </div>
  </div>
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Pay-Now</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="#">Read More</a>
    </div>
  </div>
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Gym-App</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="#">Read More</a>
    </div>
  </div>
</div>
<div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Save Money <br>
            (Budget APP)</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Weather</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>School-App</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
    
  
