@import url("https://fonts.googleapis.com/css?family=Varela+Round");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #fdfeff;
  font-family: "Varela Round", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  border-radius: 70px;
  top: 0;
  width: 100%;
  height: 60px; 
  background: #000000; 
  z-index: 10; 
  padding: 0 px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.logo img {
  width: 50px; /* Set size of the logo */
  height: 50px; /* Maintain aspect ratio */
  color: #fdfeff;
  background-color: #fdfeff;
  border-radius: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}


.menu li {
  width: 120px;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-position-x 0.9s linear;
  text-align: center;
  position: relative;
  margin-right: 90px; 
}


.menu li a {
  font-size: 20px; 
  color: #ffffff;
  text-decoration: none;
  transition: all 0.45s;
}


.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsbmtpPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  animation: line 1s;
}

.menu li:hover a {
  color:  #006600;
}

/* Animation for the hover effect */
@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

