


<app-nav></app-nav>

<section id="skills" class="skills">
    <div class="container">
        <h2>Skills</h2>
        <div class="skills-grid">
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/1/1840.png" alt="HTML" width="70" height="70">
                <p>HTML</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/2/2148.png" alt="CSS" width="70" height="70">
                <p>CSS</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/721/721791.png" alt="JavaScript" width="70" height="70">
                <p>JavaScript</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/16511/16511234.png" alt="Angular" width="70" height="70">
                <p>Angular</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/16511/16511135.png" alt="Node.js" width="70" height="70">
                <p>Node.js</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/5968/5968254.png" alt="PostgreSQL, MySQL" width="70" height="70">
                <p>PostgreSQL, MySQL</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="Git & GitHub" width="70" height="70">
                <p>Git, GitHub</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/10404/10404458.png" alt="API Development & Integration" width="70" height="70">
                <p>API Development & Integration</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/17621/17621336.png" alt="API Development & Integration" width="70" height="70">
                <p>Soft Skills</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Tools</h2>
        <div class="skills-grid">
            <div class="skill-box">
                <img src="https://www.svgrepo.com/show/521330/vscode-16.svg" alt="HTML" width="70" height="70">
                <p>[IDE]VScode</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/18405/18405693.png" alt="CSS" width="70" height="70">
                <p>MySQL(Workbench)</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/11337/11337395.png" alt="Node.js" width="70" height="70">
                <p>Node Package Manager</p>
            </div>
            <div class="skill-box">
                <img src="https://www.svgrepo.com/show/306590/postman.svg" alt="PostgreSQL, MySQL" width="70" height="70">
                <p>Postman</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/1051/1051377.png" alt="Git & GitHub" width="70" height="70">
                <p>GitHub</p>
            </div>
            <div class="skill-box">
                <img src="https://cdn-icons-png.flaticon.com/128/5968/5968719.png" alt="API Development & Integration" width="70" height="70">
                <p>Figma</p>
            </div>
           
        </div>
    </div>
</section>

<app-footer></app-footer>
